{% extends 'base.html' %}


{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-3">
        To buy list table
      </div>
      <div class="col-3 text-end">
        <div class="d-flex justify-content-end">
          <a href="{% url 'app_anime_list:anime-create' %}" class="btn btn-primary">Add anime</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Anime Type</th>
        </tr>
      </thead>
      <tbody>

        {% for anime in anime_list %}
        <tr>
          <td>
            {{ anime.name }}
          </td>
          <td>
            {{ anime.episodes }}
          </td>
          <td>
            {{ anime.type.name }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>

{% endblock content %}