{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-header">
        Anime Detail Page
    </div>
    <div class="card-body">
        <table class="table table-bordered vertical-table">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ anime.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Episodes</th>
                    <td>{{ anime.episodes }}</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ anime.description }}</td>
                </tr>
                <tr>
                    <th scope="row">Current episode</th>
                    <td>{{ anime.my_episode }}</td>
                </tr>
                <tr>
                    <th scope="row">My Rating</th>
                    <td>{{ anime.my_rating }}</td>
                </tr>
                
                {% if anime.real_rating %}
                    <tr>
                        <th scope="row">If Fantasy</th>
                        <td>{{ anime.real_rating }}</td>
                </tr>
                {% endif %}
                    
                
                <tr>
                    <th scope="row">Type</th>
                    <td>{{ anime.type }}</td>
                </tr>
                {% if anime.is_watched %}
                <tr>
                    <th scope="row">Watched date</th>
                    <td>{{ anime.watched_date|date:"Y-m-d" }}</td>
                </tr>
                {% endif %}


            </tbody>
        </table>
        <div class="row m-3">
            <a class="btn btn-danger" href="{% url 'app_anime_list:anime-list' %}">Back to list</a>
            {% if anime.url %}
                <a class="btn btn-info ml-3" href="{{ anime.url }}">Watch anime</a>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock content %}